    <!--Progress-->
    <section id="progress" class="carousel slide" data-bs-ride="carousel">
        <div class="container">
            <h1 class="pt-5">Progress of Crops</h1>

            <!--Tabbed bar-->

            <div class="mb-3 carousel">
                <button class="w3-bar-item w3-button tablink w3-red active" data-bs-target="#progress"
                    data-bs-slide-to="0" onclick="openCrops(event,'Chili')">Chili</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="1"
                    onclick="openCrops(event,'Rosemary')">Rosemary</button>

                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="2"
                    onclick="openCrops(event,'Chrysanthemum')">Chrysanthemum</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="3"
                    onclick="openCrops(event,'Carrot')">Carrot</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="4"
                    onclick="openCrops(event,'Spinach')">Spinach</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="1"
                    onclick="openCrops(event,'CherryTomato')">Cherry
                    Tomato</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="5"
                    onclick="openCrops(event,'Potato')">Potato</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="6"
                    onclick="openCrops(event,'Fig')">Fig</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="7"
                    onclick="openCrops(event,'IndianLettuce')">Indian
                    Lettuce</button>
            </div>

            <div class="carousel-inner">

                <!--Chili-->
                <div id="Chili" class="crops carousel-item active">
                    {{chili}}
                </div>

                <!--Rosemary-->
                <div id="Rosemary" class="crops carousel-item">
                    {{rosemary}}
                </div>

                <!--Chrysanthemum-->
                <div id="Chrysanthemum" class="crops carousel-item">
                    {{chrysanthemum}}
                </div>

                <!--Carrot-->
                <div id="Carrot" class="crops carousel-item">
                    {{carrot}}
                </div>

                <!--Spinach-->
                <div id="Spinach" class="crops carousel-item">
                    {{spinach}}
                </div>

                <!--Cherry Tomato-->
                <div id="CherryTomato" class="crops carousel-item">
                    {{cherrytomato}}
                </div>

                <!--Potato-->
                <div id="Potato" class="crops carousel-item">
                    {{potato}}
                </div>

                <!--Fig-->
                <div id="Fig" class="crops carousel-item">
                    {{fig}}
                </div>

                <!--Indian Lettuce-->
                <div id="IndianLettuce" class="crops carousel-item">
                    {{IndianLettuce}}
                </div>
            </div>
        </div>
    </section>

{{>script}}
<script src="/js/progressOfCrops.js"></script>